#head
{
	margin: 2px;
	border-radius: 4px;
	background-color: black;
	height: 370px;
  box-sizing: border-box;
  margin-top: 1%;
  padding: 3%;
  background-image: url('../forms/profpic-uploads/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:100% 100%;
	min-width: 800px;
	position: relative;
}


.card-container
{
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius:6px;
  position: absolute;
  left: 30px;
  top: 280px;
  box-shadow: 0px 1px 10px 1px  #03C04A;
	background-image: url('../forms/profpic-uploads/unknown.jpg');
	background-size: 100% 100%;
	margin-bottom: 10px;


}

.user-name
{

	color:white;
	text-align: center;
	width: 500px;
  height: 80px;
  background: #03C04A;
  border-radius:6px;
  position: absolute;
  left: 235px;
  top: 285px;
  box-shadow: 0px 1px 10px 1px #03C04A;
	background-size: 100% 100%;
	margin-bottom: 10px;


}
.contact
{

	border-radius: 4px;
	display: inline-block;
	height: 15px;
	width:100%;
	min-width: 300px;
	padding-left: 250px;
	padding-top: 20px;
}
.icon
{
	color: #03C04A;
	font-size: 18px;
	margin-right: 100px;
	margin-bottom: 20px;
	display: inline-block;
}

.icon span
{
	color: black;
}

.ann-icon
{
	color: #03C04A;
	font-size: 18px;
	margin-right: 100px;
	margin-bottom: 5px;
	font-size: 20px;
}
.ann-icon span
{
	font-family: "Century Gothic";
	color: #E8C117;
	font-weight: bold;

}

.ann-mini
{
	color: #03C04A;
	font-size: 14px;
	margin-right: 100px;
	margin-bottom: 20px;
}
.body
{
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 24px;
	color: #FF6600;
}


hr
{
	height: 5px;
 	color: green;
}

.content
{
	text-align: center;
	min-width: 450px;
	display: inline-block;
	width: 70%;
	min-height:300px;
  background: #fff;
  border-radius:6px;
  box-shadow: 0px 1px 10px 1px #000;
	background-size: 100% 100%;
	margin-bottom: 4%;
	margin-left: 2%;
	background-color: white;
}

.sideline
{

	top: 20px;
	width: 280px;
	border-radius: 5px;
	float: right;
	clear: right;
	box-shadow: 0px 1px 10px 1px #000;
	margin-bottom: 20px;
	margin-right: 1%;
}
.tag
{
	display: inline-block;
	color: white;
	text-align: center;
	background-color:#03C04A;
	font-size: 110%;
	height: 50px;
	font-weight: bold;
	box-shadow: 0px 1px 10px 1px #03C04A;
	border-radius: 5px;
	padding-top: 10px;

}
.signboard
{
	border-radius: 5px;
	color: white;
	background-color: white;
	width: 100%;
	border-style: none;
	margin-bottom: 20px;
}
#ann
{
		width: 74%;
		min-width: 470px;
}
#side
{
	float: right;
	width: 25%;
}
i
{
	color:#03C04A;
}

.ann-tag
{
	padding-left: 5%;
	text-align: left;
	color: white;
	font-size: 110%;
	width: 100%;
	font-weight: bold;
	box-shadow: 0px 1px 10px 1px #03C04A;
	border-radius: 5px;
	padding-top: 10px;
}

.link
{
	margin-right: 20px;
	margin-bottom: 20px;
	display: block;
}
.main
{
	width: 80%;
	height: 50%;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0px 1px 10px 1px #03C04A;
}
