#head
{
	margin: 2px;
	border-radius: 4px;
	background-color: black;
	height: 370px;
  box-sizing: border-box;
  margin-top: 1%;
  text-align: center;
  padding: 3%;
  background-image: url('../forms/profpic-uploads/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.card-container
{
  width: 200px;
  height: 250px;
  background: #fff;
  border-radius:6px;
  position: absolute;
  left: 280px;
  top: 280px;
  box-shadow: 0px 1px 10px 1px #000;
}
