
.group
{
  text-align: center;
}
.text {
  font-size: 36px;
  color: green;
  text-align: left;
  margin-top: 6%;
  /* float: left; */
  width: 50%;
  min-width: 170px;
  /* background: red; */
  display: inline-block;
}
@media screen and (max-width:480px) {
  .images
  {
    margin-right: 23px;
  }

}

.images {
  display: inline-block;
  /* background: blue; */
  /* float: left; */
  width: 20%;
  min-width: 110px;
}

.dropdown-container {
 max-width: 370px;
 min-width: 120px;
  /* margin-left: 16px; */
  position: relative;
  display: inline-block;
}
@media screen and (max-width:480px) {
  .dropdown-container
  {
    width: 190px;
  }

}
