
.profile-box
{
	min-width: 300px;

  margin-top: 5%;
	width: 70%;
  background: #fff;
  border-radius:6px;
  position: relative;
  box-shadow: 0px 1px 10px 1px #03C04A;
	background-size: 100% 100%;
	margin-bottom: 4%;
  font-size: 18px;
  font-family: "Century Gothic";
  padding-bottom: 10px;

}
@media screen and (min-width:450px)
{
	  .profile-box
		{
			margin-left: 15%;
		}
		.name
		{
			margin-left: 13%;
		}
		.img-cont
		{
			margin-right: 14%;
		}
}
a
{
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}

.content
{
  color: #413D3E;

}
.divider-inline1
{
  display: inline-block;
  min-width: min-width: 450px;
  margin-right: 7%;

}
.divider-inline1.contact-content
{
  display: block;
}
.divider-inline2
{
  display: inline-block;
  width: 100%;
}

.divider-inline2.contact-content
{
  display: inline-block;
}

.divider-block
{
  display: block;
}
#editlink
{
	display: block;
}
.heading
{
	/* background: blue; */
}
.img-cont
{
	margin-top: 10%;
	/* background: red; */
	display: inline-block;
	min-width: 200px;
	float: right;
}
@media screen and (max-width:480px) {
	.img-cont
	{
		/* background: orange; */
		float: left;
		margin-left: 15%;
	}
}


.profile-pic
{
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius:6px;

  box-shadow: 0px 1px 10px 1px #03C04A;
	background-image: url('../forms/profpic-uploads/unknown.jpg');
	background-size: 100% 100%;
	margin-bottom: 10px;


}

.name
{
	margin-top: 10%;
	/* background: red; */
	display: inline-block;
	min-width: 290px;

}
.name p
{
  font-size: 23px;
  color: #03C04A;
}
.name-content
{
  margin-bottom: 15px;
  color: #03C04A;
}

.horizontal-rule
{
  width: 96%;
  height: 2px;
  box-shadow: 0px 1px 10px 1px  #000;
  margin-left: 2%;
  margin-top: 5px;
  margin-bottom: 15px;
}

.contact
{
  padding-left: 40px;
  width:100%;
  min-width: 300px;
  background: white;
	background-size: 100% 100%;
	margin-bottom: 10px;


}
.contact p
{
  margin-left: 10px;
  color: #03C04A;
  font-size: 23px;

}
.contact-content
{
  margin-bottom: 25px;
  margin-right: 55px;
  color: #03C04A;
}
