.group
{
  text-align: center;
}
.text {
  color: green;
  text-align:left;
  margin-top: 6%;
  /* float: left; */
  width: 50%;
  min-width: 240px;
  /* background: red; */
  display: inline-block;
}
@media screen and (max-width:480px) {
  .images
  {
    margin-right: 30%;

  }
  .text
  {
    background: red;
    margin: 0px;
    margin-bottom: 10px;

  }

}

.images {
  display: inline-block;
  /* background: blue; */
  /* float: left; */
  width: 20%;
  min-width: 110px;
}
.image
{
  height:180px;
  width:180px;
  box-shadow: 0px 1px 10px 1px #03C04A;
  border-radius: 6px;

}

.pic-lbl
{
  font-size: 120%;
  margin-left: 70px;
  position: relative;
  width: 190px;
  display: inline;
}
.input
{
  margin-top: 10%;
  margin-left: 30px;
  position: relative;
  display: inline;
}
.button
{
  margin-top: 10%;
  margin-left:30px;
  position: relative;
  width: 250px;
  display: inline;
}

.dropdown-container {
 max-width: 370px;
 min-width: 120px;
  /* margin-left: 16px; */
  position: relative;
  display: inline-block;
}
@media screen and (max-width:480px) {
  .dropdown-container
  {
    width: 190px;
  }

}
