.group:after {
  content: "";
  display: table;
  clear: both;
}

.text {
  float: left;
  width: 55%;
}

.images {
  float: left;
  width: 30%;
}

.image
{
  height:180px;
  width:180px;
  ;
}

.pic-lbl
{
  font-size: 120%;
  margin-left: 70px;
  position: relative;
  width: 190px;
  display: inline;
}
.input
{
  margin-top: 10%;
  margin-left: 30px;
  position: relative;
  display: inline;
}
.button
{
  margin-top: 10%;
  margin-left:30px;
  position: relative;
  width: 250px;
  display: inline;
}
