
td
{
  font-size: 16px;
}
table, th, td
{
  border: 0px solid black;

}
#title, td
{
  color:  #FF6600;
  font-size: 25px;

}
#info
{
  color: #353535;
  font-size: 16px;
  margin-left: 40px;
}
#desc, h4
{
  color: #353535;
  font-size: 18px;
}

#hdr
{
  color:  #FF6600;
}

.spacing
{
  width:70%;
  height:20px;
  position: relative;
}
.report-main
{
  width:80%;
  height:100%;
  border-style: solid;
  border-style: dashed;
  margin-left: 10%;
}
.fileAttached
{
  padding-left: 5%;
  width:100%;
}
a
{
  font-size:16px;
}
.icn
{
  color: #353535;
}
#check, .check
{

  width: 20px;
  height: 20px;
}
.chckbx
{
  width: 20px;
  height: 20px;
  margin-left: 55%;
  margin-top: 3%;
}

th
{
  display: none;
}
#opn
{
  color: #03C04A;
  text-decoration: underline;
  margin-top: 40px;
  font-size: 20px;
}
#cls
{
  color: red;
  text-decoration: underline;
    margin-top: 40px;
    font-size: 20px;
}
#deadline
{
  display: block;
  color: red;
  font-size: 17px;
  margin-left: 2%;
}

#stato
{
  margin-top: 15%;
  color: #03C04A;
  display: inline-block;
}
#statx
{
  display: inline-block;
  margin-top: 15%;
  color:red;
}
